@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    display: flex;
    font-family: 'Lato', sans-serif;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 20%;
}

img {
    width: 100%;
}

.card {
    border: none;
}

.navbar {
    width: 100%;
    border-bottom: 3px solid;
}